<!-- Section One - Banner -->
<section class="banner-container section-one">
  <div class="banner-content">
    <div class="abstract-shapes">
      <div appScrollAnimation data-animation="zoom-in" class="shape-orange-circle-large"></div>
      <div
        appScrollAnimation
        data-animation="zoom-in"
        [animationDelay]="200"
        class="shape-orange-circle-outline-large"
      ></div>
      <div
        appScrollAnimation
        data-animation="rotate-in"
        [animationDelay]="300"
        class="shape-teal-triangle"
      ></div>
      <div
        appScrollAnimation
        data-animation="fade-in-left"
        [animationDelay]="400"
        class="shape-teal-rectangle"
      ></div>
      <div
        appScrollAnimation
        data-animation="fade-in"
        [animationDelay]="100"
        class="shape-dot-small-tl"
      ></div>
      <div
        appScrollAnimation
        data-animation="fade-in"
        [animationDelay]="150"
        class="shape-dot-small-br"
      ></div>
      <div
        appScrollAnimation
        data-animation="fade-in"
        [animationDelay]="200"
        class="shape-dot-small-bl"
      ></div>
      <div
        appScrollAnimation
        data-animation="fade-in"
        [animationDelay]="250"
        class="shape-dot-small-tr"
      ></div>
    </div>

    <div class="illustration-section-simple">
      <div
        appScrollAnimation
        data-animation="fade-in"
        [animationDelay]="400"
        class="large-abstract-circle"
      ></div>
      <div class="furniture-group">
        <div
          appScrollAnimation
          data-animation="fade-in-up"
          [animationDelay]="600"
          class="central-cabinet"
        ></div>
      </div>
    </div>

    <div class="text-section">
      <h2 appScrollAnimation data-animation="fade-in-right">تصميم داخلي</h2>
      <p appScrollAnimation data-animation="fade-in-right" [animationDelay]="200" class="offer">
        خصم يصل إلى 30%
      </p>
      <p appScrollAnimation data-animation="fade-in-right" [animationDelay]="400" class="contact">
        اتصل بنا
      </p>
    </div>
  </div>
</section>
<!-- Section  Two Two - Horizontal Scroll -->
<div class="collage">
  <div class="photo-block">
    <div class="photo-grid">
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1730789442056-76dbcaab7dd7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1730789442056-76dbcaab7dd7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1718866033984-c3ddab9af2a0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1706254629025-65b55bc6c5b5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://plus.unsplash.com/premium_photo-1688125414593-391cf90f3103?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1540932239986-30128078f3c5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1730789442056-76dbcaab7dd7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1718866033984-c3ddab9af2a0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1706254629025-65b55bc6c5b5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://plus.unsplash.com/premium_photo-1688125414593-391cf90f3103?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1540932239986-30128078f3c5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1730789442056-76dbcaab7dd7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1718866033984-c3ddab9af2a0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1706254629025-65b55bc6c5b5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZSUyMGZvcm5pdHVyZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://plus.unsplash.com/premium_photo-1688125414593-391cf90f3103?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1540932239986-30128078f3c5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>

      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://plus.unsplash.com/premium_photo-1688125414593-391cf90f3103?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1540932239986-30128078f3c5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>

      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWV1Ymxlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://plus.unsplash.com/premium_photo-1688125414593-391cf90f3103?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1540932239986-30128078f3c5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
      <div class="photo">
        <img
          src="https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG1ldWJsZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=600"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="indicators">
    <div class="progress progress--enter">
      <div class="progress__bar"></div>
      <div class="progress__label">enter</div>
    </div>
    <div class="progress progress--exit">
      <div class="progress__bar"></div>
      <div class="progress__label">exit</div>
    </div>
    <div class="progress progress--cover">
      <div class="progress__bar"></div>
      <div class="progress__label">cover</div>
    </div>
    <div class="progress progress--contain">
      <div class="progress__bar"></div>
      <div class="progress__label">contain</div>
    </div>
  </div>
</div>
<!-- Section Two - Horizontal Scroll -->
<!-- <section class="external max-xl:hidden section-tow">
  <h1 class="modern-title"></h1>

  <div class="horizontal-scroll-wrapper">
    <div 
      *ngFor="let img of horizontalImages; let i = index"
      appScrollAnimation
      data-animation="fade-in-up"
      [animationDelay]="i * 100"
      class="img-wrapper"
    >
      <a href="https://unsplash.com/photos/jUPOXXRNdcA" target="_blank" rel="noopener">
        <img
          [src]="img.src"
          [alt]="img.alt"
        />
      </a>
    </div>
  </div>
</section> -->

<!-- Section Three - Cards -->
<section class="section-three">
  <div class="cards-container">
    <div
      *ngFor="let card of cards; let i = index"
      appScrollAnimation
      data-animation="fade-in-up"
      [animationDelay]="i * 150"
      class="card"
    >
      <div class="container">
        <section class="intro text-black">
          <img [src]="card.imageUrl" alt="{{ card.title }}" class="card-image" />
        </section>

        <div class="meta">
          <div class="meta__inner">
            <h1 class="text-black">{{ card.title }}</h1>
            <p>
              {{ card.description }}
              <br />
              <a href="#">اقرأ المزيد ...</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Four - Parallax -->
<section
  id="scene"
  class="mb-14 max-xl:hidden section-four"
  data-pointer-events="true"
  data-x-origin="0.5"
  data-y-origin="0.5"
  data-scalar-y="150.0"
  data-scalar-x="100.0"
  data-friction-x="0.05"
  data-friction-y="0.05"
>
  <div class="layer main" data-depth="1.0">
    <div
      *ngFor="let img of images; let i = index"
      appScrollAnimation
      data-animation="zoom-in"
      [animationDelay]="i * 100"
      class="col"
    >
      <a href="#">
        <div class="hover">
          <div class="pad align-bottom">
            <h2>Project Title</h2>
          </div>
          <div class="more" *ngIf="img.hasPlus"><i class="demo-icon icon-plus"></i></div>
        </div>
        <div class="bg-img" [style.backgroundImage]="'url(' + img.url + ')'"></div>
      </a>
    </div>
  </div>
</section>
