<div
  class="w-full flex items-center justify-center bg-center bg-cover main-header"
  (mouseenter)="onMenuHover()"
  (mouseleave)="onMenuLeave()"
>
  <nav
    class="nav-container bg-red-700"
    [class.nav-visible]="isNavVisible"
    [class.nav-hidden]="!isNavVisible"
    (mouseenter)="onNavHover()"
    (mouseleave)="onNavLeave()"
  >
    <div class="flex justify-between items-start max-md:items-center gap-x-[2px] mx-10">
      <div
        routerLink="/experience"
        class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
        routerLinkActive="border-t-orange-600"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="font-bold text-gray-900 hover:text-orange-600 text-left"
          routerLinkActive="text-orange-600"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Experience
        </a>
        <span class="text-gray-500 text-left">Expedition Baikal</span>
      </div>

      <div
        routerLink="/technology"
        class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
        routerLinkActive="border-t-orange-600"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="font-bold text-gray-900 hover:text-orange-600 text-left"
          routerLinkActive="text-orange-600"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Technology
        </a>
        <span class="text-gray-500 text-left">Gore-Tex Pro</span>
      </div>

      <div
        routerLink="/discover"
        class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
        routerLinkActive="border-t-orange-600"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="font-bold text-gray-900 hover:text-orange-600 text-left"
          routerLinkActive="text-orange-600"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Discover
        </a>
        <span class="text-gray-500 text-left">Five Generations</span>
      </div>

      <div
        routerLink="/watch"
        class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
        routerLinkActive="border-t-orange-600"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="font-bold text-gray-900 hover:text-orange-600 text-left"
          routerLinkActive="text-orange-600"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Watch
        </a>
        <span class="text-gray-500 text-left">The full documentary</span>
      </div>
    </div>
  </nav>

  <div class="menu-btn-container sticky" id="menu-btn" (click)="toggleNav()">
    <svg
      *ngIf="!isXIcon"
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="30"
      viewBox="0 0 30 20"
      fill="none"
      stroke="#374151"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="menu-icon"
    >
      <line x1="0" y1="2" x2="30" y2="2" />
      <line x1="0" y1="10" x2="30" y2="10" />
    </svg>

    <svg
      *ngIf="isXIcon"
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="40"
      viewBox="0 0 40 40"
      class="menu-icon-circle mobile-only"
    >
      <circle cx="20" cy="20" r="20" fill="#ffffff" />
      <line
        x1="12"
        y1="12"
        x2="28"
        y2="28"
        stroke="#000000"
        stroke-width="3"
        stroke-linecap="round"
      />
      <line
        x1="28"
        y1="12"
        x2="12"
        y2="28"
        stroke="#000000"
        stroke-width="3"
        stroke-linecap="round"
      />
    </svg>
  </div>
</div>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
