<div class="w-full flex items-center justify-center bg-center bg-cover main-header">
  <nav
    class="nav-container bg-red-700"
    [class.nav-visible]="isNavVisible"
    [class.nav-hidden]="!isNavVisible"
    (mouseenter)="onNavHover()"
    (mouseleave)="onNavLeave()"
  >
 <div class=" flex justify-between items-start  gap-x-[2px]  mx-10">

  <div routerLink="/experience" class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
       routerLinkActive="border-t-orange-600" [routerLinkActiveOptions]="{ exact: true }">
    <a  
       class="font-bold   text-gray-900 hover:text-orange-600 text-left"
       routerLinkActive="text-orange-600" [routerLinkActiveOptions]="{ exact: true }">
      Experience
    </a>
    <span class="text-gray-500   text-left">Expedition Baikal</span>
  </div>

  <div routerLink="/technology" class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
       routerLinkActive="border-t-orange-600" [routerLinkActiveOptions]="{ exact: true }">
    <a  
       class="font-bold text-gray-900 hover:text-orange-600 text-left"
       routerLinkActive="text-orange-600" [routerLinkActiveOptions]="{ exact: true }">
      Technology
    </a>
    <span class="text-gray-500 text-left">Gore-Tex Pro</span>
  </div>

  <div routerLink="/discover"  class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
       routerLinkActive="border-t-orange-600" [routerLinkActiveOptions]="{ exact: true }">
    <a 
       class="font-bold text-gray-900 hover:text-orange-600 text-left"
       routerLinkActive="text-orange-600" [routerLinkActiveOptions]="{ exact: true }">
      Discover
    </a>
    <span class="text-gray-500 text-left">Five Generations</span>
  </div>

  <div  routerLink="/watch" class="flex flex-col flex-grow border-t-4 border-t-gray-300 hover:border-t-orange-600 cursor-pointer"
       routerLinkActive="border-t-orange-600" [routerLinkActiveOptions]="{ exact: true }">
    <a 
       class="font-bold text-gray-900 hover:text-orange-600 text-left"
       routerLinkActive="text-orange-600" [routerLinkActiveOptions]="{ exact: true }">
      Watch
    </a>
    <span class="text-gray-500 text-left">The full documentary</span>
  </div>

</div>

  </nav>

  <div
    class="menu-btn-container sticky"
    id="menu-btn"
    (mouseenter)="onMenuHover()"
    (mouseleave)="onMenuLeave()"
  >
    <span class="text-2xl font-bold text-center flex flex-col items-center button-menu">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </span>
  </div>
</div>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
